In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("train.csv")

In [ ]:
df.head()

,ID,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0,0.95577,0.0,8.14,0,0.538,6.047,88.8,4.4534,4,307.0,21.0,306.38,17.28,14.8
1,1,0.02875,28.0,15.04,0,0.464,6.211,28.9,3.6659,4,270.0,18.2,396.33,6.21,25.0
2,2,1.22358,0.0,19.58,0,0.605,6.943,97.4,1.8773,5,403.0,14.7,363.43,4.59,41.3
3,3,5.66637,0.0,18.10,0,0.740,6.219,100.0,2.0048,24,666.0,20.2,395.69,16.59,18.4
4,4,0.04544,0.0,3.24,0,0.460,6.144,32.2,5.8736,4,430.0,16.9,368.57,9.09,19.8

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       400 non-null    int64
 1   CRIM     400 non-null    float64
 2   ZN       400 non-null    float64
 3   INDUS    400 non-null    float64
 4   CHAS     400 non-null    int64
 5   NOX      400 non-null    float64
 6   RM       400 non-null    float64
 7   AGE      400 non-null    float64
 8   DIS      400 non-null    float64
 9   RAD      400 non-null    int64
 10  TAX      400 non-null    float64
 11  PTRATIO  400 non-null    float64
 12  B        400 non-null    float64
 13  LSTAT    400 non-null    float64
 14  MEDV     400 non-null    float64
dtypes: float64(12), int64(3)
memory usage: 47.0 KB

In [ ]:
df.corr()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
CRIM,1.000000,-0.193548,0.409972,-0.060591,0.422635,-0.205928,0.353379,-0.376323,0.618538,0.577501,0.284967,-0.357581,0.442743,-0.393693
ZN,-0.193548,1.000000,-0.522218,-0.037318,-0.497638,0.290127,-0.554214,0.659949,-0.301067,-0.300221,-0.369974,0.161515,-0.402116,0.336805
INDUS,0.409972,-0.522218,1.000000,0.075305,0.759132,-0.396865,0.631742,-0.695199,0.608088,0.731619,0.370383,-0.338007,0.624374,-0.502898
CHAS,-0.060591,-0.037318,0.075305,1.000000,0.084020,0.091267,0.083314,-0.102016,-0.023792,-0.045183,-0.137556,0.040732,-0.055326,0.182096
NOX,0.422635,-0.497638,0.759132,0.084020,1.000000,-0.283907,0.736349,-0.768775,0.602960,0.657875,0.154693,-0.382202,0.622209,-0.434271
RM,-0.205928,0.290127,-0.396865,0.091267,-0.283907,1.000000,-0.198918,0.171596,-0.190030,-0.277064,-0.336408,0.120518,-0.634758,0.721489
AGE,0.353379,-0.554214,0.631742,0.083314,0.736349,-0.198918,1.000000,-0.750408,0.457339,0.499478,0.234894,-0.274650,0.593788,-0.354106
DIS,-0.376323,0.659949,-0.695199,-0.102016,-0.768775,0.171596,-0.750408,1.000000,-0.492090,-0.520442,-0.185938,0.274036,-0.503383,0.235087
RAD,0.618538,-0.301067,0.608088,-0.023792,0.602960,-0.190030,0.457339,-0.492090,1.000000,0.911103,0.458930,-0.395845,0.503532,-0.386922
TAX,0.577501,-0.300221,0.731619,-0.045183,0.657875,-0.277064,0.499478,-0.520442,0.911103,1.000000,0.450978,-0.400353,0.552239,-0.479308
PTRATIO,0.284967,-0.369974,0.370383,-0.137556,0.154693,-0.336408,0.234894,-0.185938,0.458930,0.450978,1.000000,-0.155939,0.352839,-0.495904
B,-0.357581,0.161515,-0.338007,0.040732,-0.382202,0.120518,-0.274650,0.274036,-0.395845,-0.400353,-0.155939,1.000000,-0.343821,0.317910
LSTAT,0.442743,-0.402116,0.624374,-0.055326,0.622209,-0.634758,0.593788,-0.503383,0.503532,0.552239,0.352839,-0.343821,1.000000,-0.725281
MEDV,-0.393693,0.336805,-0.502898,0.182096,-0.434271,0.721489,-0.354106,0.235087,-0.386922,-0.479308,-0.495904,0.317910,-0.725281,1.000000

In [ ]:
df=df.drop('ID',axis=1)

Because of low corr we have to drop the feature CHAS

In [ ]:
df=df.drop('CHAS',axis=1)

In [ ]:
df.head()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.95577,0.0,8.14,0.538,6.047,88.8,4.4534,4,307.0,21.0,306.38,17.28,14.8
1,0.02875,28.0,15.04,0.464,6.211,28.9,3.6659,4,270.0,18.2,396.33,6.21,25.0
2,1.22358,0.0,19.58,0.605,6.943,97.4,1.8773,5,403.0,14.7,363.43,4.59,41.3
3,5.66637,0.0,18.10,0.740,6.219,100.0,2.0048,24,666.0,20.2,395.69,16.59,18.4
4,0.04544,0.0,3.24,0.460,6.144,32.2,5.8736,4,430.0,16.9,368.57,9.09,19.8

In [ ]:
df.iloc[:,:-1]

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.95577,0.0,8.14,0.538,6.047,88.8,4.4534,4,307.0,21.0,306.38,17.28
1,0.02875,28.0,15.04,0.464,6.211,28.9,3.6659,4,270.0,18.2,396.33,6.21
2,1.22358,0.0,19.58,0.605,6.943,97.4,1.8773,5,403.0,14.7,363.43,4.59
3,5.66637,0.0,18.10,0.740,6.219,100.0,2.0048,24,666.0,20.2,395.69,16.59
4,0.04544,0.0,3.24,0.460,6.144,32.2,5.8736,4,430.0,16.9,368.57,9.09
...,...,...,...,...,...,...,...,...,...,...,...,...
395,0.03615,80.0,4.95,0.411,6.630,23.4,5.1167,4,245.0,19.2,396.90,4.70
396,0.17505,0.0,5.96,0.499,5.966,30.2,3.8473,5,279.0,19.2,393.43,10.13
397,6.65492,0.0,18.10,0.713,6.317,83.0,2.7344,24,666.0,20.2,396.90,13.99
398,0.13117,0.0,8.56,0.520,6.127,85.2,2.1224,5,384.0,20.9,387.69,14.09
399,0.06466,70.0,2.24,0.400,6.345,20.1,7.8278,5,358.0,14.8,368.24,4.97

In [ ]:
X = df.iloc[:, :-1].values
y = df.iloc[:, 1].values 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 6)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler() 
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
from sklearn.linear_model import LinearRegression #importing all the required functions
regressor = LinearRegression(fit_intercept = True) #initialise my Linear Regression predictedScore = m * Hours + c
"Symtax : varName = ModelName(modelHyperParams)"
regressor.fit(X_train, y_train) #Learning happens - GD is done and we get the final values of m and c
print(regressor.intercept_) # c
print(regressor.coef_) #m

10.821428571428573
[ 1.36004151e-14  2.22766751e+01 -1.15463195e-14  7.10542736e-15
  3.15303339e-14  1.33226763e-14 -4.44089210e-15  5.32907052e-15
  7.10542736e-15 -2.66453526e-14 -7.10542736e-15 -2.04281037e-14]

In [ ]:
y_pred = regressor.predict(X_test) # given the features of the test dataset, it will give the final predictions
"Syntax : varName.predict(test_features)"
y_pred

array([-2.84217094e-14, -1.42108547e-14, -1.77635684e-14, -6.03961325e-14,
        4.61852778e-14, -4.44089210e-14, -1.77635684e-14,  3.73034936e-14,
       -4.44089210e-14,  2.10000000e+01,  9.50000000e+01,  1.03028697e-13,
       -2.13162821e-14,  5.25000000e+01,  2.00000000e+01,  4.50000000e+01,
       -3.55271368e-14,  1.06581410e-14, -8.52651283e-14,  6.03961325e-14,
       -7.10542736e-15, -8.88178420e-15, -4.08562073e-14, -6.75015599e-14,
        2.20000000e+01,  1.42108547e-14,  4.00000000e+01, -6.21724894e-14,
       -4.26325641e-14, -1.59872116e-14,  8.00000000e+01,  2.50000000e+01,
       -6.03961325e-14, -3.19744231e-14,  1.77635684e-15,  3.55271368e-15,
        1.95399252e-14, -5.15143483e-14,  2.30926389e-14,  1.77635684e-14,
        1.42108547e-14,  5.50670620e-14,  5.32907052e-15,  9.00000000e+01,
       -1.77635684e-14, -3.55271368e-15, -1.24344979e-14,  1.77635684e-14,
        1.77635684e-14,  9.50000000e+01,  1.42108547e-14, -7.10542736e-15,
        7.46069873e-14,  5.68434189e-14,  0.00000000e+00, -9.41469125e-14,
       -3.90798505e-14,  2.30926389e-14,  3.19744231e-14, -3.19744231e-14,
        8.34887715e-14,  4.00000000e+01,  2.00000000e+01,  8.00000000e+01,
        5.50000000e+01,  4.00000000e+01,  3.00000000e+01,  2.48689958e-14,
       -4.26325641e-14,  2.00000000e+01, -5.15143483e-14,  3.37507799e-14,
       -6.03961325e-14,  1.42108547e-14,  3.55271368e-15, -4.26325641e-14,
       -2.48689958e-14,  8.50000000e+01,  5.50000000e+01, -5.50670620e-14,
       -4.79616347e-14,  5.68434189e-14, -3.90798505e-14,  3.50000000e+01,
       -4.08562073e-14, -3.90798505e-14,  3.55271368e-14,  8.88178420e-15,
        2.10000000e+01, -4.08562073e-14,  2.00000000e+01,  1.77635684e-15,
       -6.75015599e-14, -3.55271368e-15,  8.00000000e+01,  8.00000000e+01,
       -3.55271368e-14,  1.42108547e-14,  3.01980663e-14, -2.48689958e-14,
       -5.50670620e-14, -2.30926389e-14,  1.06581410e-14,  1.45661261e-13,
        3.19744231e-14,  1.95399252e-14, -3.55271368e-15,  3.30000000e+01,
        4.97379915e-14,  1.25000000e+01, -7.28306304e-14, -2.48689958e-14,
        3.01980663e-14,  3.30000000e+01, -1.77635684e-15,  5.32907052e-14,
        3.30000000e+01,  1.59872116e-14,  4.97379915e-14,  1.77635684e-14])

In [ ]:
from sklearn import metrics 
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('R2- SCORE:', metrics.r2_score(y_test,y_pred))

Mean Absolute Error: 3.506824460449328e-14
Mean Squared Error: 2.1120698922752297e-27
R2- SCORE: 1.0

In [ ]:
from sklearn.feature_selection import RFE
estimator = LinearRegression()
selector = RFE(estimator, n_features_to_select=3, step=1)
selector = selector.fit(X_train, y_train)
list(zip(['CRIM', 'ZN', 'INDUS',
       'NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT'],selector.support_))

[('CRIM', False),
 ('ZN', True),
 ('INDUS', False),
 ('NOX', False),
 ('RM', False),
 ('AGE', False),
 ('DIS', False),
 ('RAD', False),
 ('TAX', True),
 ('PTRATIO', True),
 ('B', False),
 ('LSTAT', False)]

Therefore from above solution i conclude that there are three important feature:
1. ZN = proportion of residential land zoned for lots over 25,000 sq.ft.
2. TAX =  full-value property-tax rate per $10,000
3. PTRATIO= pupil-teacher ratio by town

In [ ]:
A = df.iloc[:,:-1]
b = df.iloc[:,-1]

In [ ]:
from sklearn.model_selection import cross_validate
regressor = LinearRegression(normalize = True) #untrained model
cv_results = cross_validate(regressor, A, b, cv=10, scoring = "r2")
cv_results['test_score'].mean()

0.7129621597468583

In [ ]:
import warnings
warnings.filterwarnings('ignore')

from sklearn.linear_model import Lasso, Ridge
for alpha in [0.001,0.002,0.003,0.005,0.01,0.02,0.03,0.04,0.1,0.2,0.5,1]:
  regressor = Ridge(normalize=True,alpha = alpha)
  cv_results = cross_validate(regressor, A, b, cv=5, scoring = "r2" , return_train_score=True)
  print("Alpha : ", alpha, cv_results['test_score'].mean(), cv_results['train_score'].mean())

Alpha :  0.001 0.7147033293958394 0.7437856253024442
Alpha :  0.002 0.7148062285262071 0.7437750651934074
Alpha :  0.003 0.7148998353275889 0.7437580926143006
Alpha :  0.005 0.7150616049644162 0.7437067280252512
Alpha :  0.01 0.7153412330986346 0.7434942761845938
Alpha :  0.02 0.7155190861785687 0.7428222153699691
Alpha :  0.03 0.7153754352445001 0.7419560241204654
Alpha :  0.04 0.7150359607669996 0.740984114881916
Alpha :  0.1 0.7112764667480288 0.7344809188070383
Alpha :  0.2 0.7028186817776219 0.7233154353702225
Alpha :  0.5 0.6728886462055799 0.6898547116712159
Alpha :  1 0.6229739752164687 0.638160162010626

From the above solution we take alpha as 0.02

In [ ]:

lasso = Lasso()
lasso.fit(X_train,y_train)
train_score=lasso.score(X_train,y_train)
test_score=lasso.score(X_test,y_test)

In [ ]:
train_score

0.9979848876857618

In [ ]:
test_score

0.9979840203333594